<!-- head partial --> 
<%- include('../../views-partials/head'); %>

<!-- needed for the logo -->  
<% logoImg =  "/images/logo.png" %>
<% logoAltText =  "Logo - La mia guida di Brescia" %>
<!-- logo partial -->  
<%- include('../../views-partials/logo'); %>

<!-- needed for the language switcher -->  
<% rootWebPage =  "http://localhost:3000" %>
<!-- navbar partial -->  
<%- include('../../views-partials/navbar'); %>


<h2>CONTENT</h2> 
 <% Object.keys(pageContent).forEach((key,index) => { %> 
 "index : "<%= index %> "key : " <%= key -%>  "value : "<%- JSON.stringify(pageContent[key], null, 2) %><br> 
 <%  }); %> 
 
 <h2>NAVBAR</h2> 
 <% Object.keys(siteNavbar).forEach((key,index) => { %> 
 "index : "<%= index %> "key : " <%= key -%>  "value : "<%- JSON.stringify(siteNavbar[key], null, 2) %><br> 
 <%  }); %>


<!-- footer partial --> 
<%- include('../../views-partials/footer'); %>
